# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

*.log*
*.class
/.settings
/.project
/.classpath
/.idea/
*.iml
# Package Files #
*.jar
*.war
*.ear
/target/
/out/

/src/build/
/node_modules/

nohup.out
game
src/static/js/app/
src/static/js/login/
src/static/js/start/
